@font-face {
  font-family: "MontserratMedium";
  src: url("./assets/fonts/Montserrat-Medium.otf") format("truetype");
}
@font-face {
  font-family: "MontserratRegular";
  src: url("./assets/fonts/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "AvenirBook";
  src: url("./assets/fonts/Avenir-Book.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "AvenirBook", sans-serif;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
